{% extends 'base.html' %}
{% load urlify %}


{% block content %}

<h1> details page  :: {{instance.title}} <br></h1>





<div class="col-sm-6 col-sm-offset-3">
    {% if instance.image %}
    <img src='{{ instance.image.url }}' alt="" class="img-responsive">
    {% endif %}

    {{instance.content |linebreaks}} <br>
    {{instance.timestamp}} <br>



</div>

<button class="btn btn-warning" href=" " > EDIT</button>

  <br>

{{ instance.content|urlify }}
<br>
{{ share_url }} <br>

<a href="https://twitter.com/home?status= {{ share_url }}  %20 {{ request.build_absolute_uri }}"> Twitter</a>
<a href="https://twitter.com/home?status= {{ instance.content|truncatechars:80|urlify }}  %20 {{ request.build_absolute_uri }}"> Facebook</a>
<a href="https://twitter.com/home?status= {{ share_url }}  %20 {{ request.build_absolute_uri }}"> Twitter</a>


{% endblock content %}


