{% extends 'base.html' %}
{% load urlify %}


{% block content %}

<h1> details page  :: {{instance.title}} <br>

<small class="pull-right">
        {% if instance.draft %} <span style="color:red">Draft</span> {% endif %}
    </small>
</h1>





<div class="col-sm-6 col-sm-offset-3">
    {% if instance.image %}
    <img src='{{ instance.image.url }}' alt="" class="img-responsive">
    {% endif %}

    {{instance.content | linebreaks}} <br>
    {{instance.publish}} <br>

    {% if instance.user.get_full_name %}
<h2>Author:   {{instance.user.get_full_name}} </h2>
    {% endif %}

</div>

<button class="btn btn-warning" href=" " > EDIT</button>

  <br>

{{ instance.content|urlify }}
<br>
{{ share_url }} <br>

<a href="https://twitter.com/home?status= {{ share_url }}  %20 {{ request.build_absolute_uri }}"> Twitter</a>
<a href="https://twitter.com/home?status= {{ instance.content|truncatechars:80|urlify }}  %20 {{ request.build_absolute_uri }}"> Facebook</a>
<a href="https://twitter.com/home?status= {{ share_url }}  %20 {{ request.build_absolute_uri }}"> Twitter</a>


    <p class= "lead " > Comments </p>
<div class="row">
<div class=" col-sm-12 content-markdown">
{{ instance.content }}

</div>
    </div>
    {% for comment  in comments %}

                    {{ comment.content }}
                    <br>
                   <small> Via {{ comment.user }} | {{ comment.timestamp|timesince }} Ago </small>
                      <hr>


        {% endfor %}

{% endblock content %}


